.Main {
  display: flex;
  box-sizing: border-box;
  padding: 0 100px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 50px;
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sub {
  line-height: 1.2;
  font-size: 24px;
}

.main .title {
  color: var(--main-color);
  font-size: 48px;
}

.bottom {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
}

.bottom span {
  font-size: 16px;
}

.button {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--main-color);
}

.startBtn {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: 'NeoDunggeunmoPro-Regular';
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: var(--main-color);
}

.startBtn:hover {
  background-color: var(--mainDark-color);
}

.mainGif {
  width: 100%;
  text-align: center;
}

.gif {
  width: 100%;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  body {
    height: 100vh;
  }

  .Main {
    flex-direction: column-reverse;
    padding: 0px 20px;
    height: 100vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .Main {
    flex-direction: column-reverse;
    padding: 0px 20px;
    height: 100vh;
    gap: 20px;
  }

  .mainGif {
    width: 80%;
  }

  .mainText {
    width: 80%;
  }
}
