@import '../reset.css';

.QuestionWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0 auto;
}

.findingQuestion {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
}

.findingQuestion .searchingTitle {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  background-color: var(--lightGray-color);
  padding: 15px 15px;
  width: 400px;
}

.findingQuestion .searchingBtn {
  border: none;
  border-radius: 4px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  height: 40px;
  padding: 10px;
}

.findingQuestion .selectingLevel {
  border: none;
  border-radius: 4px;
  padding-left: 5px;
  height: 40px;
}

.pageBtns {
  display: flex;
  gap: 5px;
  padding-top: 20px;
}

.pageBtns button {
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--main-color);
  color: white;
}

.resetBtn {
  border: none;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--main-color);
}

.Question button:hover {
  background-color: var(--mainDark-color);
}

.Question button:disabled {
  background-color: var(--darkGray-color);
}

.tableContainer {
  box-sizing: border-box;
  width: 530px;
  padding: 20px 10px;
}

.tableContainer .table {
  width: 100%;
  border: 1px solid var(--lightGray-color);
}

.tableContainer .table th {
  text-align: left;
  padding: 10px 5px;
  border: 1px solid var(--lightGray-color);
  background-color: var(--main-color);
  color: white;
}

.table th {
  width: 50px;
}

.table th:nth-child(3) {
  width: 200px;
}

.tableContainer .table td {
  text-align: left;
  padding: 10px 5px;
  border: 1px solid var(--lightGray-color);
  word-break: break-all;
}

.selectingQuestion {
  cursor: pointer;
}

.selectingQuestion:hover {
  color: var(--main-color);
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .findingQuestion .searchingTitle {
    width: 200px;
  }

  .tableContainer {
    width: 340px;
  }
}

@media screen and (min-width: 768px) {
  .findingQuestion .searchingTitle {
    width: 500px;
  }

  .tableContainer {
    width: 650px;
  }
}
