@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'NeoDunggeunmoPro-Regular';
}

body {
  height: 100vh;
}

:root {
  /* color */
  --main-color: #04c92f;
  --hover-color: #16b438;
  --lightGray-color: #f3f3f3;
  --darkGray-color: #b0b0b0;
  --alert-color: #ff6464;

  /* font size */
  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;
  --font-3xl: 30px;
  --font-4xl: 36px;
  --font-5xl: 48px;
}
